*{
   font-size: 16px;
   padding: 0;
   margin: 0;

}
body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30vh 30vh 30vh 30vh 30vh 30vh;
}

.hero{
    background:lightsalmon;
}
.first-service{
    background-color: lightseagreen;

}

.second-service{
    background: limegreen;

}
 .third-service{
     background: mediumpurple;
 }
 .other-service{
     background: midnightblue;
 }
 .other-links{
     background: orangered;
 }
 .copyright-info{
     background: saddlebrown;
 }
 @media screen and ( min-width: 500px )
     {
         body{
             grid-template-columns: 50% 50%;
             grid-template-rows: 30vh 30vh 30vh 30vh;
             grid-template-areas: "hero hero" "frist-sercvice  second-service"   "third-service third-service" "other-links copyright-info";
         }
         .hero{ grid-area: hero;}
         .first-service{ grid-area: first-service;}
         .second-service{ grid-area: second-service;}
         .third-service{ grid-area: third-service;}
         .other-links{ grid-area: other-links;}
         .copyright-info{ grid-area:copyright-info;}
     }
    
     @media screen and ( min-width: 1024px )
     {

      body{
           grid-template-columns:calc( 100% / 3) calc( 100% / 6) calc( 100% / 6)
            calc( 100% / 3 );
        
    
           grid-template-rows:35vw 35vw 35vw  ;
           grid-template-areas:
           "hero hero  hero" 
           "first-service second-service second-service third-service"
           "other-links other-links coptright-info copyright-info"
           
           ;
      }
      .first-service,.second-service,.third-service{
          width: 50%;
          height: 50%;
          justify-self: center;
          align-self: center;
      }
      .second-service{
          width: 75%;
          height: 75%;  
      }
    }
